<div class="my-5 d-flex justify-content-center">
    <h2>Welcome To Tag-Along, Prasenjeet!!</h2>
</div>
<div class="m-5 p-5 card">
    <h3 class="mb-3">Your Events</h3>
    <div class="event-card-container">
        <div class="border rounded p-4 my-3 event-card">
            <div class="d-flex flex-wrap justify-content-between mb-3">
                <h5 class="m-0">Coffee Hangout</h5>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-success btn-sm disabled d-flex align-items-center me-3">
                        Going
                        <span class=" material-symbols-outlined text-success">
                            check
                        </span>
                    </button>
                    <button class="btn btn-outline-danger  btn-sm">Cancel RSVP</button>
                </div>
            </div>

            <p class="mb-4">Just a casual hangout with friends. Dont forget to bring your fav
                coffee cup!
            </p>
            <div class="my-2">
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        account_circle
                    </span>
                    <div class="me-2 d-flex align-items-center">
                        <span class="d-inline-block me-2">
                            Created By:
                        </span>
                        <div class="d-flex border p-2 rounded">
                            <span class="material-symbols-outlined me-2">
                                face_6
                            </span>
                            <span>Stephen Mark</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3 flex-wrap">
                    <span class="material-symbols-outlined me-2">
                        event
                    </span>
                    <span class="me-3">
                        Date: 29th April 2023
                    </span>
                    <span class="material-symbols-outlined me-2">
                        schedule
                    </span>
                    <span class="me-3">
                        Time: 5.30 PM
                    </span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        timelapse
                    </span>
                    <span class="me-3">
                        Duration: 60 mins
                    </span>
                </div>
            </div>
            <div class="my-2 d-flex flex-wrap align-items-center">
                <span class="me-2 mb-2">
                    <h6 class="d-inline-block m-0">Users Attending:</h6>
                </span>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Prasenjeet Paul</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Vaishnavi</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Medha Gitay</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="border rounded p-4 my-3 event-card">
            <div class="d-flex flex-wrap justify-content-between mb-3">
                <h5 class="m-0">SPL Final Project Discussion</h5>
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-warning btn-sm disabled d-flex align-items-center me-3">
                        Pending
                        <span class=" material-symbols-outlined">
                            priority_high
                        </span>
                    </button>
                    <button class="btn btn-outline-success btn-sm">Accept RSVP</button>
                </div>
            </div>

            <p class="mb-4">
                Hi team, please join this event to discuss about the planning and roadmap of the project.
                It is mandatory to attend this event if you want to understand and provide inputs to the
                final
                project plan.
            </p>
            <div class="my-2">
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        account_circle
                    </span>
                    <span class="me-3">Created By: Srujitha</span>
                </div>
                <div class="d-flex align-items-center mb-3 flex-wrap">
                    <span class="material-symbols-outlined me-2">
                        event
                    </span>
                    <span class="me-3">Date: 24th April 2023</span>
                    <span class="material-symbols-outlined me-2">
                        schedule
                    </span>
                    <span class="me-3">Time: 12.30 PM</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        timelapse
                    </span>
                    <span class="me-3">Duration: 1.5 hrs</span>
                </div>
            </div>
            <div class="my-2 d-flex flex-wrap align-items-center">
                <span class="me-2 mb-2">
                    <h6 class="d-inline-block m-0">Users Attending:</h6>
                </span>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Srujitha</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Vaishnavi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-5 p-5 card">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <h3 class="m-0">My Groups</h3>
        <button class="btn btn-outline-success d-flex align-items-center" routerLink="/group/new">
            <span class="material-symbols-outlined me-2">
                add_circle
            </span>
            Create New Group
        </button>
    </div>
    <div class="group-card-container row">
        <div class="col-12 col-lg-6 my-2 p-2 group-card">
            <div class="border rounded p-4 h-100 d-flex flex-column">
                <h4 class="mb-4"><a routerLink="/group/1">SPL - Spring 2023</a></h4>
                <p class="mb-4">
                    A group to discuss about SPL subject.
                    Open to any intellectual discussions abou the subject
                </p>
                <div class="d-flex mb-2 align-items-center flex-wrap">
                    <h6 class="me-2">Created By:</h6>
                    <div class="d-flex border p-2 rounded">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Stephen Mark</span>
                    </div>
                </div>
                <h6 class="mb-2">Group Members:</h6>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Prasenjeet Paul</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Vaishnavi</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Medha Gitay</span>
                    </div>
                </div>
                <div class="h-100"></div>
                <div class="d-flex mt-3 justify-content-end ">
                    <button class="btn btn-outline-danger">Leave Group</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-2 p-2 group-card">
            <div class="border rounded p-4 h-100 d-flex flex-column">
                <h4 class="mb-4">Coffee Addicts</h4>
                <p class="mb-4">
                    A group to hang out and share coffee breaks.
                    General Guidelines:
                    <br>1. Casual Coffee Meet-Ups
                    <br>2. No course work related discussions
                    <br>3. No black coffee!
                </p>
                <div class="d-flex mb-2 align-items-center flex-wrap">
                    <h6 class="me-2">Created By:</h6>
                    <div class="d-flex border p-2 rounded">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Stephen Mark</span>
                    </div>
                </div>
                <h6 class="mb-2">Group Members:</h6>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Prasenjeet Paul</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Vasu Tiwari</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Kriti Sanon</span>
                    </div>
                </div>
                <div class="h-100"></div>
                <div class="d-flex mt-3 justify-content-end">
                    <button class="btn btn-outline-danger">Leave Group</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-2 p-2 group-card">
            <div class="border rounded p-4 h-100 d-flex flex-column">
                <h4 class="mb-4">Niner Football Club
                    <span class="text-warning">- Invited</span>
                </h4>
                <p class="mb-4">
                    A group which is enthusiastic about Football!!
                </p>
                <div class="d-flex mb-2 align-items-center flex-wrap">
                    <h6 class="me-2">Created By:</h6>
                    <div class="d-flex border p-2 rounded">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Stephen Mark</span>
                    </div>
                </div>
                <h6 class="mb-2">Group Members:</h6>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Stephen Mark</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Lisa Ashbrook</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Andrew Tate</span>
                    </div>
                </div>
                <div class="h-100"></div>
                <div class="d-flex mt-3 justify-content-end">
                    <button class="btn btn-outline-warning">Cancel Invite</button>
                </div>
            </div>
        </div>
    </div>
</div>