<div class="my-5 d-flex justify-content-center">
    <h2>Welcome To Tag-Along, Prasenjeet!!</h2>
</div>
<div class="m-5 p-5 card">
    <h3 class="mb-5">New Event Details</h3>
    <div class="event-card-container">
        <form>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Event Name</label>
                <input type="text" class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Event Description</label>
                <textarea class="form-control" id="descriptionInput" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <label for="dateInput" class="form-label">Event Date</label>
                <input type="date" class="form-control" id="dateInput">
            </div>
            <div class="mb-3">
                <label for="timeInput" class="form-label">Event Time</label>
                <input type="time" class="form-control" id="timeInput">
            </div>
            <div class="mb-5">
                <label for="durationInput" class="form-label">Duration</label>
                <input type="number" class="form-control" id="durationInput">
            </div>
            <div>
                <h6 class="mb-3">Invite Users</h6>
                <div class="input-group mb-3 ms-5" style="width: 500px;">
                    <input type="text" class="form-control" placeholder="User Email">
                    <button class="btn btn-outline-danger" type="button" id="button-addon2">Remove
                        User</button>
                </div>
                <div class="input-group mb-3 ms-5" style="width: 500px;">
                    <input type="text" class="form-control" placeholder="User Email">
                    <button class="btn btn-outline-danger" type="button" id="button-addon2">Remove
                        User</button>
                </div>
                <button class="btn btn-outline-primary mb-5 px-3">Add User</button>
            </div>
            <button class="mt-3 btn btn-primary px-5">Submit</button>
        </form>
    </div>
</div>