<div class="d-flex justify-content-center" *ngIf="!groupData">
    <div class="spinner-border text-primary" role="status">
    </div>
</div>
<div class="m-5 p-5 card" *ngIf="groupData">
    <h3 class="mb-4">{{groupData?.name}}</h3>
    <p>{{groupData?.description}}</p>
    <div class="my-2 d-flex flex-wrap align-items-center">
        <span class="me-2 mb-2">
            <h6 class="d-inline-block m-0">Created By:</h6>
        </span>
        <div class="d-flex align-items-center flex-wrap">
            <user-pill [userID]="groupData!.createdBy"></user-pill>
        </div>
    </div>
    <div class="my-2 d-flex flex-wrap align-items-center">
        <span class="me-2 mb-2">
            <h6 class="d-inline-block m-0">Group Members:</h6>
        </span>
        <div class="d-flex align-items-center flex-wrap">
            <user-pill [userID]="memberID" *ngFor="let memberID of groupData?.userList"></user-pill>
        </div>
    </div>


    <div class="mb-2 mt-5 d-flex align-items-center justify-content-between">
        <h5 class="m-0">Events</h5>
        <button class="btn btn-outline-success btn-sm d-flex align-items-center" routerLink="/event/new">
            <span class="material-symbols-outlined me-2">
                add_circle
            </span>
            Add Event
        </button>
    </div>
    <div class="event-card-container">
        <div class="border rounded p-4 my-3 event-card">
            <div class="d-flex flex-wrap justify-content-between mb-3 align-items-center">
                <h5 class="m-0">Coffee Hangout</h5>
                <button class="btn btn-outline-success btn-sm d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">
                        add_circle
                    </span>
                    Attend Event
                </button>
            </div>

            <p class="mb-4">Just a casual hangout with friends. Dont forget to bring your fav
                coffee cup!
            </p>
            <div class="my-2">
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        account_circle
                    </span>
                    <div class="me-2 d-flex align-items-center">
                        <span class="d-inline-block me-2">
                            Created By:
                        </span>
                        <div class="d-flex border p-2 rounded">
                            <span class="material-symbols-outlined me-2">
                                face_6
                            </span>
                            <span>Stephen Mark</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3 flex-wrap">
                    <span class="material-symbols-outlined me-2">
                        event
                    </span>
                    <span class="me-3">
                        Date: 29th April 2023
                    </span>
                    <span class="material-symbols-outlined me-2">
                        schedule
                    </span>
                    <span class="me-3">
                        Time: 5.30 PM
                    </span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        timelapse
                    </span>
                    <span class="me-3">
                        Duration: 60 mins
                    </span>
                </div>
            </div>
            <div class="my-2 d-flex flex-wrap align-items-center">
                <span class="me-2 mb-2">
                    <h6 class="d-inline-block m-0">Users Attending:</h6>
                </span>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_6
                        </span>
                        <span>Prasenjeet Paul</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Vaishnavi</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Medha Gitay</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="border rounded p-4 my-3 event-card">
            <div class="d-flex flex-wrap justify-content-between mb-3 align-items-center">
                <h5 class="m-0">SPL Final Project Discussion</h5>
                <button class="btn btn-outline-success btn-sm d-flex align-items-center">
                    <span class="material-symbols-outlined me-2">
                        add_circle
                    </span>
                    Attend Event
                </button>
            </div>

            <p class="mb-4">
                Hi team, please join this event to discuss about the planning and roadmap of the
                project.
                It is mandatory to attend this event if you want to understand and provide inputs to the
                final
                project plan.
            </p>
            <div class="my-2">
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        account_circle
                    </span>
                    <span class="me-3">Created By: Srujitha</span>
                </div>
                <div class="d-flex align-items-center mb-3 flex-wrap">
                    <span class="material-symbols-outlined me-2">
                        event
                    </span>
                    <span class="me-3">Date: 24th April 2023</span>
                    <span class="material-symbols-outlined me-2">
                        schedule
                    </span>
                    <span class="me-3">Time: 12.30 PM</span>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <span class="material-symbols-outlined me-2">
                        timelapse
                    </span>
                    <span class="me-3">Duration: 1.5 hrs</span>
                </div>
            </div>
            <div class="my-2 d-flex flex-wrap align-items-center">
                <span class="me-2 mb-2">
                    <h6 class="d-inline-block m-0">Users Attending:</h6>
                </span>
                <div class="d-flex align-items-center flex-wrap">
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Srujitha</span>
                    </div>
                    <div class="d-flex border p-2 rounded me-2 mb-2">
                        <span class="material-symbols-outlined me-2">
                            face_3
                        </span>
                        <span>Vaishnavi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>